{{> "header"}}
<div style="font-size: 14px;">
<p>Hello,</p>
<p>You have invited to join WareHouse System by {{userInviteName}}</p>
<p>Please verify your email by clicking on the following link:</p>
<a href='{{url}}'>Verify Email</a>
</div>
{{> "footer"}}
